// main styles
.hello {
  padding: 15px;

  img {
    @include box-shadow(-3px, 3px, 0, 0, $mainColor);
    border-radius: 15px;
    width: 100%;
  }
}


// questions
.textBox {
  color: $secondaryColor;
  font: 1.2em $buttonFont;
  height: 50px;
  padding-top: 12px;
  width: 100%;
}

.interestText {
  @extend .textBox;
}

.liveText {
  @extend .textBox;
  text-align: right;
}

.rightText {
  @extend .textBox;
}


// contact
.contactFront {
  background-color: $mainColor;
}
