// fonts
$titleFont: 'Lobster';
$secondaryFont: 'Noto Sans';
$buttonFont: 'Righteous';

// colors
$mainColor: #ff6c22;
$secondaryColor: #D94A02;
$adjacentColor: #C70230;
$adjacentColorDark: #9C0024;
$textShadowColor: #C70230;

// base styles
a, a:visited {
  color: $mainColor;
}

fieldset {
  max-width: 380px;
}
