// variables
$saxMainColor: #e6ba40;
$saxKeyColor: rgba(253, 218, 143, 0.54);
$saxPearlColor: rgb(255, 248, 240);
$saxPearlBorder: rgb(183, 141, 32);
$saxArmColor: #deb53c;


// main styles
body, html {
  height: 100%;
}

.saxBody {
  background-color: $saxMainColor;
  height: 100%;
  width: 65%;
}


// alt key
.altKey {
  position: relative;
}

.altKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: 6em;
  position: absolute;
  right: 6em;
  top: -12em;
  width: 6em;
}


// b key
.bKey {
  height: 11em;
  position: relative;
}

.bKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: 11em;
  position: absolute;
  right: 1em;
  width: 11em;
}

.bKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: 6em;
  position: absolute;
  right: .9em;
  top: 5em;
  width: 6em;
}

.bKeyArm {
  background-color: $saxArmColor;
  height: 20px;
  position: absolute;
  top: 5em;
  width: 7.5em;
}


// bis key
.bisKey {
  height: 10em;
  margin-top: 1.3em;
  position: relative;
}

.bisKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: 10em;
  position: absolute;
  right: 1em;
  width: 10em;
}

.bisKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: 4em;
  position: absolute;
  right: .9em;
  top: -1em;
  width: 4em;
}

.bisKeyArm {
  background-color: $saxArmColor;
  height: 20px;
  position: absolute;
  top: 4.5em;
  width: 9.5em;
}


// a key
.aKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: 4em;
  position: absolute;
  right: .9em;
  top: -1em;
  width: 4em;
}

.aKeyArm {
  background-color: $saxArmColor;
  height: 20px;
  position: absolute;
  top: 4.5em;
  width: 9.5em;
}

