// forms
.formTitle {
  text-align: center;
}

fieldset {
  border-radius: 1em;
  margin: 1em auto;
  padding: 1em;
  text-align: left;
  max-width: 400px;
}

fieldset input {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

fieldset button {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1em;
  outline: none;
  text-align: center;
  width: 100%;
}

#return {
  display: block;
  margin-bottom: 2em;
  text-align: center;
  color: rgba(255, 108, 34, 1);
}

#return:visited {
  color: rgba(255, 108, 34, 1);
}

.error {
  color: red;
}
