// materials grid
.firstTimers {
  background-color: rgba(255, 108, 34, 0.53);
  border-radius: 2em;
  margin: 0.8em;
  padding: 1.5em;
}

.firstTimers p {
  margin-left: 0;
}

.materialGrid {
  margin-top: 15px;
  min-width: 100%;
}

.materialPic {
  width: 2.5em;
}

.descripCell {
  width: 80%;
}

.altoTenor {
  background-color: rgba(255, 108, 34, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}

.clickHere {
  background-color: rgb(199, 64, 0);
  border-radius: 100px;
  border: 1px solid rgba(170, 170, 170, 0.44);
  color: #fff;
  font: 1em Verdana;
  padding: 4px 12px;
  outline: none;
  width: 95%;
}

.clickHere:hover {
  border-color: #8dff96;
  box-shadow: -1px 2px 2px 0px rgba(50, 62, 9, 0.19);
}

.cellColor {
  background-color: rgba(255, 108, 34, 0.27);
}

.appCell {
  background-color: rgba(255, 108, 34, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}

th {
  background-color: rgba(255, 108, 34, 0.62);
  padding: 1%;
}

td {
  font-size: .7em;
  padding: 3px 5px;
  text-align: left;
}

.comFolderLink {
  color: #fff;
  background-color: purple;
  border: 5px solid red;
  border-radius: 15px;
  display: block;
  font: 1em $titleFont;
  margin: 1em;
}
