// colors
$saxMainColor: #FFA622;
$saxKeyColor: rgba(253, 218, 143, 0.54);
$saxPearlColor: rgb(255, 248, 240);
$saxPearlBorder: rgb(183, 141, 32);
$saxArmColor: #D98302;

// sizes
$mainKey: 9em;
$bigKey: 6em;
$smallKey: 4em;
$armWidth: 20px;

// positions
$keyPosR: 6em;
$keyPosT: 2em;
$armLen: 100%;

// sax top main styles
.saxBodyTop {
  background-color: $saxMainColor;
  display: none;
  float: left;
  height: 100%;
  position: relative;
  width: 300px;
}

.saxRod {
  background-color: $saxArmColor;
  float: left;
  height: 100%;
  padding-top: 3em;
  width: $armWidth;
}

.pearl {
  color: $mainColor;
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  font-family: $buttonFont;
  position: absolute;
}

.title {
  background-color: $saxMainColor;
  font-size: 1.5em;
  margin-bottom: 2.5em;
  padding: 0 15px 1.8em;
  position: relative;
  width: 100%;
}

.lessonTitle {
  position: absolute;
  top: 1.2em;
  right: 15px;

  @media all and (min-width: $firstMedia) {
    left: 3.7em;
    z-index: 10;
  }
}

// alt key
.altKey {
  position: relative;
}

.altKeyPearl {
  @extend .pearl;
  font-size: 60%;
  height: $bigKey;
  left: $keyPosR - 3;
  width: $bigKey;

  @media all and (min-width: $firstMedia) {
    font-size: 66%;
    top: $keyPosT - .5;
    right: $keyPosR;
    z-index: 1;
  }
}

// b key
.bKey {
  height: 11em;
  margin-top: 1.3em;
  position: relative;
}

.bKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: $mainKey;
  position: absolute;
  right: $keyPosR - 3;
  width: $mainKey;
}

.bKeyPearl {
  @extend .pearl;
  height: $bigKey;
  right: $keyPosR - 3;
  top: $keyPosT + 2;
  width: $bigKey;
}

.bKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  right: $keyPosR + 3;
  top: $keyPosT + 2.3;
  width: $armLen;
}

// bis key
.bisKey {
  height: 10em;
  margin-top: 2em;
  position: relative;
}

.bisKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: $mainKey - 1;
  position: absolute;
  right: $keyPosR - 2.7;
  top: $keyPosT - 3.7;
  width: $mainKey - 1;
}

.bisKeyPearl {
  @extend .pearl;
  height: $smallKey;
  right: $keyPosR - 3.7;
  top: $keyPosT - 5;
  width: $smallKey;
}

.bisKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  right: $keyPosR + 2;
  top: $keyPosT;
  width: $armLen;
}

// a key
.aKey {
  margin-top: 1.3em;
  position: relative;
}

.aKeyPearl {
  @extend .pearl;
  height: $bigKey;
  right: $keyPosR - 4;
  top: $keyPosT - 11.5;
  width: $bigKey;
}

.aKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  right: $keyPosR + 1.7;
  top: $keyPosT - 9;
  width: $armLen;
}

// a key
.gKey {
  position: relative;
}

.gKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: $mainKey;
  position: absolute;
  right: $keyPosT - 1;
  top: $keyPosT - 4;
  width: $mainKey;
}

.gKeyPearl {
  @extend .pearl;
  height: $bigKey;
  right: $keyPosR - 8;
  top: $keyPosT - 6;
  width: $bigKey;
}

.gKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  right: $keyPosR - 2.3;
  top: $keyPosT - 4;
  width: $armLen;
}

.gMainArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  right: $keyPosR;
  top: $keyPosT;
  width: $armLen;
}

// bell
.bell {
  background-color: $saxMainColor;
  display: none;
  height: 100%;
  position: relative;
  width: 28.8em;
  z-index: -5;

  @media all and (min-width: 500px) {
    display: block;
    position: absolute;
    left: 21em;
    bottom: -2.5em;
  }

}

.bellBackground {
  background-color: $adjacentColor;
  height: 600px;
  position: absolute;
  top: 0;
  width: 29em;
}

.bellBackgroundL {
  background-color: $adjacentColor;
  height: 100%;
  width: 5.4em;
}

.bellRim {
  background-color: $saxMainColor;
  height: 200px;
  position: absolute;
  top: 540px;
  transform: rotate(10deg);
  width: 35.5em;
}

.bellRimEdge {
  background-color: $saxMainColor;
  border: 1px solid $saxPearlBorder;
  height: .5em;
  position: absolute;
  top: 0;
  width: 35.5em;
}

.bellCurve {
  background-color: $adjacentColor;
  border-radius: 100%;
  height: 15em;
  width: 6.3em;
}

.bellCurveL {
  @extend .bellCurve;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: -.7em 0 0 -1em;
  transform: skewX(10deg);
}

.bellCurveR {
  @extend .bellCurve;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 94%;
  position: absolute;
  right: -1em;
  top: -.7em;
  transform: skewX(-10deg);
}

.musicNotes {
  position: absolute;
  left: 34em;
  top: -15em;
  transform: rotate(15deg);
  width: 1000px;
  z-index: -1;
}
