// fonts
$titleFont: 'Lobster';
$secondaryFont: 'Noto Sans';
$buttonFont: 'Righteous';

// colors
$mainColor: #ff6c22;
$secondaryColor: #D94A02;
$adjacentColor: #C70230;
$adjacentColorDark: #9C0024;
$textShadowColor: #C70230;

// media query thresholds
$firstMedia: 500px;

// base styles
.content {
  background-color: $adjacentColor;
  font-family: 'Noto Sans', sans-serif;
  overflow: scroll;

  @media all and (min-width: 768px) {
    overflow: hidden;
  }
}

.pageWrapper {
  margin: auto;
  padding: 0 15px;

  @media all and (min-width: $firstMedia) {
    width: 70%;
  }
}

.contentWrapper {
  display: inline-block;

  @media all and (min-width: $firstMedia) {

    height: 100%;
    margin: 0 1em;
    width: 45%;
  }
}

a, a:visited {
  color: $mainColor;
}

fieldset {
  max-width: 380px;
}

h1 {
  color: #fff;
  font: 2.5em $titleFont;
  margin: 0;
  text-shadow: 3px 2px 0px $textShadowColor;

  a, a:visited {
    color: #fff;
    text-decoration: none;
  }
}

h2 {
  color: $mainColor;
  font: 2em $buttonFont;
  margin: 1em 0 0 0;
}

