// fonts
$titleFont: 'Lobster';
$secondaryFont: 'Noto Sans';
$buttonFont: 'Righteous';

// colors
$mainColor: #ff6c22;
$secondaryColor: #D94A02;
$adjacentColor: #C70230;
$adjacentColorDark: #9C0024;
$textShadowColor: #C70230;
$linkHover: #8dff96;

// media query thresholds
$firstMedia: 650px;
$secondMedia: 700px;
$thirdMedia: 900px;

// base styles
.content {
  background-color: $adjacentColor;
  color: #ff9a67;
  font-family: 'Noto Sans', sans-serif;
  overflow: scroll;

  @media all and (min-width: $firstMedia) {
    overflow: hidden;
  }
}

.pageWrapper {
  background-color: $adjacentColorDark;
  border-radius: 15px;
  height: 100%;
  margin: 0 auto 2em;
  padding: 15px;
  width: 90%;

  @media all and (min-width: $firstMedia) {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 1em 1em 5em 1em;
    text-align: center;
    width: 80%;
  }
}

.contentWrapper {
  display: block;
  margin-bottom: 2em;
  vertical-align: top;

  @media all and (min-width: $firstMedia) {
    display: inline-block;
    height: 100%;
    margin: 2em 2em 0 0;
    text-align: left;
    width: 40%;
  }
}

a, a:visited {
  color: $mainColor;
}

a:hover {
  color: $linkHover;
}

fieldset {
  max-width: 380px;
}

h1 {
  color: #fff;
  font: 2.5em $titleFont;
  margin: 0;
  text-shadow: 3px 2px 0px $mainColor;

  a, a:visited {
    color: #fff;
    text-decoration: none;
  }

  @media all and (min-width: $firstMedia) {
    font-size: 350%;
  }
}

h2 {
  color: $mainColor;
  font: 2em $buttonFont;

  @media all and (min-width: $secondMedia) {
    font-size: 350%;
  }
}

.h2Front {
   margin: .5em 0 .5em 10%;
}

h3 {
  color: $mainColor;
  font-family: $buttonFont;
  margin: 0;
}

.image {
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px $mainColor;
  margin: 0 5% 0 0;
  float: left;
  width: 50%;
}

.noFullPage {
  background-color: #fff;
  overflow: scroll;
  text-align: center;
}

// nav bar
.frontNav {
  display: none;
  left: 15%;
  position: fixed;
  top: 5.6em;
  z-index: 1;
}
