{% extends "base.html" %}

{% block content %}
  <fieldset id="notesEntry">
    <legend>Lesson Notes for {{student.user}}</legend>
    <form method="post">
      <label>
        <div>Warm Up:</div>
        <textarea name="warmup">{{warmup}}</textarea>
      </label>
      <label>
        <div>To work on this week:</div>
        <textarea name="assign">{{assign}}</textarea>
      </label>
      <label>
        <div>Tips:</div>
        <textarea name="tips">{{tips}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <button>Submit!</button>
    </form>
  </fieldset>
  <a id="return" href="/admin">return</a>
{% endblock %}
