{% extends "base.html" %}

{% block content %}
  <div class="adminWrapper">
    <h2>Students</h2>
    <nav>
      <a href="/">Home</a>|<a href="/addstudent">Add Student</a>
    </nav>
    {% for s in students %}
      <div class="studentInfo">
        <span class="studentCell">
          <a href="/student?key={{s.key.urlsafe()}}">{{s.name}}</a>
        </span>
        <span class="studentCell">
          <a href="/addnotes?key={{s.key.urlsafe()}}">add notes</a>
        </span>
        <span class="studentCell">
          <a href="/editstudent?key={{s.key.urlsafe()}}">edit</a>
        </span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
