<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saxophone Lessons</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lobster%7CRaleway:600%7CNoto+Sans'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          Saxophone Lessons
        </a>
      </h1>
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <p>
        Questions or Concerns? Contact me <a href="mailto:alexbakersax@gmail.com?subject=Hello%20Alex!">here</a>
      </p>
    </footer>
  </body>
</html>