{% extends "base.html" %}

{% block content %}
  <div class="fullpage">
    <div class="section">
      <div class="slide" data-anchor="full">
        <div class="title">
          <h1>
            Saxophone <span class="lessonTitle">Lessons</span>
          </h1>
          <div class="altKey">
            <a class="altKeyPearl" href="/login">
              Student Login
            </a>
          </div>
        </div>
        <div class="saxBodyTop">
          <div class="saxRod"></div>
          <div class="bKey">
            <div class="bKeyMain"></div>
            <a class="bKeyPearl" href="#full/new-student-info">
              New Student Info
            </a>
            <div class="bKeyArm"></div>
          </div>
          <div class="bisKey">
            <div class="bisKeyMain"></div>
            <div class="bisKeyPearl"></div>
            <div class="bisKeyArm"></div>
          </div>
          <div class="aKey">
            <div class="aKeyArm"></div>
            <a class="aKeyPearl" href="#full/materials">
              Materials
            </a>
          </div>
          <div class="gKey">
            <div class="gKeyMain keyShadow"></div>
            <div class="gKeyArm"></div>
            <div class="gMainArm"></div>
            <a class="gKeyPearl" href="#full/contact">
              Contact
            </a>
          </div>
        </div>
        <div class="bell">
          <div class="bellBackgroundL"></div>
          <div class="bellBackground"></div>
          <div class="bellRim">
            <div class="bellCurveL"></div>
            <div class="bellCurveR"></div>
            <div class="bellRimEdge"></div>
          </div>
        </div>
        <img class="musicNotes" src="static/img/music-notes.png" alt="music notes">
      </div>
      <div class="slide" data-anchor="new-student-info">
        <div class="cover">
          <h2 class="h2Front">New Student Info</h2>
          <div class="pageWrapper">
            <div class="contentWrapper">
              <img class="image" src="static/img/alex_teaching.jpg" alt="Alex teaching a lesson">
              <h3>First Lesson</h3>
              <div>
                For our first lesson, make sure to bring any music you are working on or have worked on. We will spend some time getting to know each other and talk about your musical goals. If its your first time playing the sax, you can wait until the lesson to put your sax together with my help or you can check out the videos on this page.
              </div>
            </div>
            <div class="contentWrapper">
              <h3>How to put your sax together</h3>
              <iframe class="vid" src="//www.youtube.com/embed/rGct7vUNhNw" allowfullscreen></iframe>
              <h3>How to clean your sax</h3>
              <iframe class="vid" src="//www.youtube.com/embed/EvN-m8bbDpQ" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="materials">
        <h2 class="h2Front">Materials</h2>
        <div class="pageWrapper">
          <div class="contentWrapper">
            <div id="materialsWrapper">
              <table class="materialGrid">
                <tr>
                  <th class="lightGrad" colspan="2">Books</th>
                  <th class="altoTenor">Alto</th>
                  <th class="altoTenor">Tenor</th>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/ee2000-1.jpg" alt="Essential Elements 2000 Book 1">
                  </td>
                  <td class="descripCell">Essential Elements 2000 Book 1</td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/Hal-Leonard-Essential-Elements-For-Band---Alto-Saxophone-Book-1-With-EEi--Book-CD-ROM--941590-i1161418.wwbw" target="_blank">Link</a>
                  </td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/Hal-Leonard-Essential-Elements-For-Band---Tenor-Saxophone-Book-1-With-EEi--Book-CD-ROM--941591-i1161419.wwbw" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/belwin.jpg" alt="Belwin Master Duets for Saxophone">
                  </td>
                  <td class="descripCell">Belwin Master Duets for Saxophone</td>
                  <td class="cellColor center" colspan="2">
                    <a class="clickHere" href="//www.wwbw.com/Alfred-Belwin-Master-Duets--Saxophone--Easy-Volume-1-H62754-i1558425.wwbw" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/maiden.jpg" alt="Maiden Voyage">
                  </td>
                  <td class="descripCell">Maiden Voyage: Fourteen Easy-To-Play Jazz Tunes</td>
                  <td class="cellColor center" colspan="2">
                    <a class="clickHere" href="//www.wwbw.com/Jamey-Aebersold-Maiden-Voyage-Book-CD-906634-i1368412.wwbw" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <th class="lightGrad" colspan="2">Cleaning</th>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/body_swab.jpg" alt="body swab">
                  </td>
                  <td class="descripCell">Silk Body Swab</td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/Hodge-Alto-Sax-Silk-Swab-425604-i1134847.wwbw" target="_blank">Link</a>
                  </td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/Hodge-Tenor-Sax-Silk-Swab-425612-i1134855.wwbw" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/mouthpiece_swab.jpg" alt="mouthpiece swab">
                  </td>
                  <td>Mouthpiece Swab</td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/La-Voz-Woodwind-Mouthpiece-Savers-483896-i1442564.wwbw" target="_blank">Link</a>
                  </td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/La-Voz-Woodwind-Mouthpiece-Savers-483896-i1442564.wwbw" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <th class="lightGrad" colspan="2">Reeds</th>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/vandoren_reg.jpg" alt="Vandoran Regular reeds">
                  </td>
                  <td class="descripCell">Vandoran Regular Size 1.5</td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/Vandoren-Alto-Saxophone-Reeds-462581-i1143259.wwbw" target="_blank">Link</a>
                  </td>
                  <td class="cellColor">
                    <a class="clickHere" href="//www.wwbw.com/Vandoren-Tenor-Saxophone-Reeds-462591-i1143308.wwbw" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <th class="lightGrad" colspan="2">Apps</th>
                  <th class="appCell">Android</th>
                  <th class="appCell">iPhone</th>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/tuner.png" alt="Tuner">
                  </td>
                  <td class="descripCell">Tuner</td>
                  <td class="cellColor">
                    <a class="clickHere" href="//play.google.com/store/apps/details?id=com.bork.dsp.datuna" target="_blank">Link</a>
                  </td>
                  <td class="cellColor">
                    <a class="clickHere" href="//itunes.apple.com/us/app/free-chromatic-tuner-pano/id449780743?mt=8" target="_blank">Link</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="materialPic" src="static/img/metronome.png" alt="Metronome">
                  </td>
                  <td>Metronome</td>
                  <td class="cellColor">
                    <a class="clickHere" href="//play.google.com/store/apps/details?id=gabriel.metronome" target="_blank">
                      Link</a>
                  </td>
                  <td class="cellColor">
                    <a class="clickHere" href="//itunes.apple.com/us/app/pro-metronome-beat-sound-light/id477960671?mt=8" target="_blank">
                      Link</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="contentWrapper">
            <div>
              Click the link below for some free resources!
            </div>
            <button class="comFolderLink">Community Folder</button>
            <h3>The Community Folder Includes:</h3>
            <ul>
              <li>Fingering chart</li>
              <li>Student transcriptions</li>
              <li>Sheet music</li>
              <li>Blank manuscript paper</li>
              <li>Some great music to listen to!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="contact">
        <h2 class="h2Front">Contact</h2>
        <div class="pageWrapper">
          <div class="contentWrapper">
            <div class="setupLesson">
              <h3>Setup a lesson today!</h3>
              <div>
                email:
                <a href="mailto:alexbakersax@gmail.com?subject=Hello%20Alex!">
                  alexbakersax@gmail.com
                </a>
              </div>
              <div>phone: 720-530-4275</div>
            </div>
          </div>
          <div class="contentWrapper">
            <img class="image" src="static/img/alex_baker.jpg" alt="Alex Baker">
            <h3>Alex Baker</h3>
            <div>
              Alex is a graduate of the Lamont School of Music at the University of Denver, where he earned a Bachelors of Music Performance degree. He has spent time traveling the US and abroad, contributing his musical expertise to numerous projects. Alex has a strong background in performing varied musical styles, including classical, jazz, funk, salsa, ska, rock and pop. With extensive experience playing soprano, alto, tenor, baritone saxophone and doubling on flute and clarinet, Alex has taught many students and groups ranging in age and skill level over the last ten years.
            </div>
          </div>
        </div>
      </div>
      <nav class="frontNav">
        <a class="navButton" href="#full">Home</a> /
        <a class="navButton" href="#full/new-student-info">New Student Info</a> /
        <a class="navButton" href="#full/materials">Materials</a> /
        <a class="navButton" href="#full/contact">Contact</a>
      </nav>
    </div>
  </div>
{% endblock %}
