{% extends "base.html" %}

{% block content %}
  <div class="hello">
    <div class="interestText">
      Interested in playing the sax?
    </div>
    <div class="liveText">
      Live around Denver?
    </div>
    <div class="rightText">
      You found the right place!
    </div>
    <p>
      My name is Alex and Ive been a professional saxophone player and teacher for the last ten years. Beginner to advanced, I'm always accepting new students!
    </p>
    <img src="static/img/alex_teaching.jpg" alt="Alex teaching a lesson">
    <p>
      <a href="/contact">Contact</a> me today to setup a lesson!
    </p>
  </div>
{% endblock %}
