{% extends "base.html" %}

{% block content %}
  <div id="fullpage">
    <div class="section" id="section0">
      <div class="saxBodyTop">
        <div class="title">
          <h1>
            <a href="/">
              Saxophone Lessons
            </a>
          </h1>
        </div>
        <div class="saxRod"></div>
        <div class="bKey">
          <div class="bKeyMain"></div>
          <button class="bKeyPearl">
            New Student Info
          </button>
          <div class="bKeyArm"></div>
        </div>
        <div class="altKey">
          <button class="altKeyPearl">
            Student Login
          </button>
        </div>
        <div class="bisKey">
          <div class="bisKeyMain"></div>
          <div class="bisKeyPearl"></div>
          <div class="bisKeyArm"></div>
        </div>
        <div class="aKey">
          <div class="aKeyArm"></div>
          <button class="aKeyPearl">
            Materials
          </button>
        </div>
        <div class="gKey">
          <div class="gKeyMain"></div>
          <div class="gKeyArm"></div>
          <div class="gMainArm"></div>
          <button class="gKeyPearl">
            Contact
          </button>
        </div>
      </div>
      <div class="bell">
        <div class="bellBackground"></div>
        <div class="bellRim">
          <div class="bellCurveL"></div>
          <div class="bellCurveR"></div>
          <div class="bellCurveLowerL"></div>
          <div class="bellRimEdge"></div>
        </div>
      </div>
    </div>
    <div class="section" id="section1">
      <h2>New Student Info</h2>
      <img class="image" src="static/img/alex_teaching.jpg" alt="Alex teaching a lesson">
      <h3>First Lesson</h3>
      <div>
        For our first lesson, make sure to bring any music you are working on or have worked on. We will spend some time getting to know each other and talk about your musical goals. If its your first time playing the sax, you can wait until the lesson to put your sax together with my help or you can check out the videos on this page.
      </div>
      <h3>Teaching Philosophy</h3>
      <div>
        Basic theory and the ability to read music are essential to starting your journey with the saxophone. A good amount of time will also be spent learning music by ear. Music is mostly an aural activity, so training your ear is also important. The unique, melodic sound of the saxophone allows it to intregrate wonderfully with many styles of music. The most popular genres for sax are jazz, pop, and classical, but you can play anything that catches your ear. If you enjoy the music from a particular movie or a favorite video game, playing it on saxophone can be incredibly fun and rewarding. Gaining a deeper appreciation for music through the saxophone, or any other instrument, will benefit you for the rest of your life.
      </div>
    </div>
    <div class="section" id="section2"></div>
  </div>
{% endblock %}
