// colors
$mainColor: rgba(255, 108, 34, 1);
$saxMainColor: #e6ba40;
$saxKeyColor: rgba(253, 218, 143, 0.54);
$saxPearlColor: rgb(255, 248, 240);
$saxPearlBorder: rgb(183, 141, 32);
$saxArmColor: #deb53c;


// sizes
$bigKey: 6em;
$smallKey: 4em;
$armWidth: 20px;


// positions
$keyPosR: 9.5em;
$keyPosT: 2em;
$armLen: 2.5em;


// main styles
body, html {
  height: 100%;
}

header {
  margin-bottom: 2em;
  padding: 11px;
}

.saxBody {
  background-color: $saxMainColor;
  color: $mainColor;
  height: 100%;
  max-width: 300px;
}

.saxRod {
  background-color: $saxArmColor;
  float: left;
  height: 100%;
  width: $armWidth;
}

.buttonText {
  padding-top: 35%;
  text-align: center;
}

// alt key
.altKey {
  position: relative;
}

.altKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: $bigKey;
  position: absolute;
  right: $keyPosR + 1;
  top: $keyPosT - 15;
  width: $bigKey;
}


// b key
.bKey {
  height: 11em;
  margin-top: 1.3em;
  position: relative;
}

.bKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: 9em;
  position: absolute;
  right: $keyPosR - 2;
  width: 9em;
}

.bKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: $bigKey;
  position: absolute;
  right: $keyPosR - 3;
  top: $keyPosT + 2;
  width: $bigKey;
}

.bKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  top: $keyPosT + 2.3;
  width: $armLen + 3.3;
}


// bis key
.bisKey {
  height: 10em;
  margin-top: 2em;
  position: relative;
}

.bisKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: 8em;
  position: absolute;
  right: $keyPosR - 2.7;
  top: $keyPosT - 3.7;
  width: 8em;
}

.bisKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: $smallKey;
  position: absolute;
  right: $keyPosR - 3.7;
  top: $keyPosT - 5;
  width: $smallKey;
}

.bisKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  top: $keyPosT;
  width: $armLen + 5.5;
}


// a key
.aKey {
  margin-top: 1.3em;
  position: relative;
}

.aKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: $bigKey;
  position: absolute;
  right: $keyPosR - 4;
  top: $keyPosT - 11.5;
  width: $bigKey;
}

.aKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  top: $keyPosT - 9;
  width: $armLen + 5;
}


// a key
.gKey {
  position: relative;
}

.gKeyMain {
  background-color: $saxKeyColor;
  border-radius: 100%;
  height: 9em;
  position: absolute;
  right: 4em;
  top: $keyPosT - 4;
  width: 9em;
}

.gKeyPearl {
  background-color: $saxPearlColor;
  border: 3px solid $saxPearlBorder;
  border-radius: 100%;
  height: $bigKey;
  position: absolute;
  right: $keyPosR - 8;
  top: $keyPosT - 6;
  width: $bigKey;
}

.gKeyArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  top: $keyPosT - 4;
  width: $armLen + 11;
}

.gMainArm {
  background-color: $saxArmColor;
  height: $armWidth;
  position: absolute;
  top: $keyPosT;
  width: $armLen + 7.5;
}
